<header class="absolute top-0 w-full h-auto flex justify-end items-center">
  <section class="h-full w-auto flex justify-end items-center mr-3 mt-3">

  include ./icons/setting.pug

  </section>
</header>
