<form id="search" class="flex items-center justify-center w-screen">
  <label class="relative w-5/6 h-16 md:w-1/2">
    <span class="absolute top-[1.4rem] left-[0.6rem] cursor-text">
      <svg class="w-6 h-6 fill-slate-500" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
      </svg>
    </span>
    <input id="search_input" class="w-full h-full px-10 py-2 text-xl rounded shadow-lg outline-none appearance-none select-none bg-slate-900/50 md:text-2xl hover:bg-gray-800/80" autofocus placeholder="Busca en Google o escribe una URL" type="text" >
  </label>
</form>
