<footer class="absolute bottom-0 left-0 flex items-center justify-between w-full h-16 px-2 select-none rounded-b-xl bg-slate-600/50 backdrop-blur-sm">
  <div class="pl-2 text-base font-bold text-zinc-50/30 hover:text-zinc-50/50">
    <a target="_blank" href="https://github.com/LuisFOsG">LuisFOsG</a>
  </div>
  <div>

    <button id="save_config" class="px-3 py-2 flex justify-center items-center text-lg font-semibold rounded-lg bg-slate-600 hover:bg-slate-800 disabled:hover:bg-slate-600">Guardar Cambios</button>

  </div>
</footer>
