<footer class="absolute rounded-b-xl bottom-0 left-0 bg-slate-600/50 backdrop-blur-sm w-full h-16 flex justify-between items-center px-2 select-none">
  <div class="text-base text-zinc-50/30 hover:text-zinc-50/50 font-bold pl-2">
    <a target="_blank" href="https://github.com/LuisFOsG">LuisFOsG</a>
  </div>
  <div>

    <button class="bg-slate-600 p-3 rounded-lg">Guardar Cambios</button>

  </div>
  <div></div>
</footer>
