<header class="sticky top-0 left-0 flex items-center justify-between h-10 px-2 select-none rounded-t-xl bg-slate-500/20 backdrop-blur-sm">
  <div class=" hidden md:block"></div>
  <div class="text-xl font-bold text-white ml-2 md:ml-0">Home Tab <small class="text-sm text-slate-400">v0.11.2</small></div>
  <div>
    <button id="close_modal" class="flex items-center justify-center p-2 rounded-full group w-7 h-7 hover:bg-slate-800/80">
      <svg class="fill-slate-400 group-hover:fill-slate-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
    </button>
  </div>
</header>
