<header class="sticky h-10 rounded-t-xl top-0 left-0 bg-slate-500/20 backdrop-blur-sm flex justify-between items-center px-2 select-none">
  <div></div>
  <div class="text-white text-xl font-bold">Home Tab <small class="text-sm text-slate-400">v0.8.5</small></div>
  <div>
    <button id="close_modal" class="group rounded-full w-7 h-7 p-2 hover:bg-slate-800/80 flex justify-center items-center">
      <svg class="fill-slate-400 group-hover:fill-slate-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
    </button>
  </div>
</header>
